<link rel="stylesheet" href="../assets/css/main.css">
<link id="fa-stylesheet" rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-inner">
            <div class="footer-left">
                <p class="p-name">Arin Bhandari</p>
                <a class="u-email" href="mailto:arin.bhandari@gmail.com">
                    arin.bhandari AT gmail.com
                </a>
            </div>

            <div class="footer-right">
                <a rel="me noopener noreferrer" href="https://www.linkedin.com/in/arin-bhandari" target="_blank"
                    title="LinkedIn">
                    <span class="fa-brands fa-linkedin"></span>
                </a>
            </div>
        </div>
    </div>
</footer>