<header class="site-header">
    <div class="wrapper"><a class="site-title" rel="author" href="/">Arin Bhandari</a>
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger">
            <label for="nav-trigger">
                <span class="menu-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 6H21V7.5H3V6Z" fill="white" />
                        <path d="M3 12H21V13.5H3V12Z" fill="white" />
                        <path d="M3 18H21V19.5H3V18Z" fill="white" />
                    </svg>
                </span>
            </label>
            <div class="trigger">
                {% for item in site.data.navigation %}
                {% if page.url == item.link %}
                {% assign active_class = "active" %}
                {% else %}
                {% assign active_class = "" %}
                {% endif %}
                <a class="page-link {{ active_class }}" href="{{ item.link | relative_url }}">{{ item.name }}</a>
                {% endfor %}
        </nav>
    </div>
</header>